@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  max-width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.mainContent {
  width: 100vw;
  min-height: 100%;
  background-color: rgb(225, 225, 225);
}

.visibleContent {
  margin: 20px;
  padding: 20px;
  max-width: inherit;
  min-height: inherit;
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* .footerText,
.footerLinks,
.footerList,
.hamburger {
  display: none;
} */

/* .headerLogo {
  width: 120px;
  margin-left: 10px;
} */

/* CEll */
@media only screen and (max-width: 767px) {
  /* header */
  .headerNav {
    display: none;
  }
  .headerText {
    color: rgb(131, 131, 131);
    border: 1px solid rgb(131, 131, 131);
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  
  /* Footer */
  .footerText {
    color: #ccc;
    font-weight: bold;
    margin: 25px;
    font-size: 16px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    text-align: center;
    display: block;
  }
  .footer {
    height: 16em;
  }
  .footerList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .footerList a li {
    font-size: 16px;
    font-weight: bold;
    margin: 12.5px;
    color: #fff;
    margin-top: 40px;
  }
  .footerList a {
    border: none;
    text-decoration: none;
  }
  .footerLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  /* APP and others*/

  .appStore,
  .playStore {
    width: 135px;
    height: 41px;
    margin: 5px;
  }
  .appStore {
    display: none;
  }
  .btnExit {
    margin-right: 15px;
  }
  .hamburger {
    display: block;
    margin-left: 15px;
  }
  .visibleContent {
    margin: 0;
  }
  .menuIcon {
    display: none;
  }
  .footerDesktopLinks {
    display: none;
  }
}


/* DESK */
@media only screen and (min-width: 768px) {
  .headerNav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }
  .headerNav li {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
  .btnExit {
    margin-right: 30px;
  }
  .menuIcon {
    margin-left: 30px;
  }
  .footerDesktopLinks {
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
