@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

main {
  flex: 100%;
  display: flex;
}

.mainContent {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
}

.visibleContent {
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.footerText,
.footerLinks,
.upperHeader,
.footerList,
.hamburger {
  display: none;
}

@media only screen and (max-width: 767px) {
  .headerNav {
    display: none;
  }
  .footerText {
    color: #ccc;
    font-weight: bold;
    margin: 25px;
    font-size: 16px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    text-align: center;
    display: block;
  }
  .footer {
    height: 16em;
  }
  .footerList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .footerList a li {
    font-size: 16px;
    font-weight: bold;
    margin: 12.5px;
    color: #fff;
    margin-top: 40px;
  }
  .footerList a {
    border: none;
    text-decoration: none;
  }
  .appStore,
  .playStore {
    width: 135px;
    height: 41px;
    margin: 5px;
  }
  .appStore {
    display: none;
  }
  .footerLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .btnExit {
    margin-right: 15px;
  }
  .hamburger {
    display: block;
    margin-left: 15px;
  }
  .upperHeader {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .headerLogo {
    width: 100px;
    margin-left: 10px;
  }
  .headerText {
    color: rgb(131, 131, 131);
    border: 1px solid rgb(131, 131, 131);
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  .header {
    margin-top: 60px;
  }
  .visibleContent {
    margin: 0;
  }
  .menuIcon {
    display: none;
  }
  .footerDesktopLinks {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .headerNav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }
  .headerNav li {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
  .btnExit {
    margin-right: 30px;
  }
  .menuIcon {
    margin-left: 30px;
  }
  .footerDesktopLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
