.cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 2em;
    width: 100%;
    min-height: 100%;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.card{
    min-width: 120px;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;
    margin: 20px 0;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

.container{
    width: 100%
    
}